#header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: #666;
    z-index: 10;
}
#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    background-color: #ddd;
    padding-top: 100px;
    z-index: 5;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;
    overflow: auto;
}
.card {
    cursor: move;
    width: 100px;
    height: 100px;
    background-color: #ff8585;
    z-index: 10;
    margin: 10px;
}
.card.block {
    position: absolute;
    background-color: #6eff5b;
}

.card .label {
  text-align: center;
  border-bottom: 1px solid #333;
}
.card .label.data {
  background-color: rgb(255, 200, 117);
}
.card .label.engine {
  background-color: rgb(103, 174, 255);
}
.card .label.result {
  background-color: rgb(207, 207, 207);
}
.empty {
  position: relative;
  width: 100px;
  height: 100px;
  left: 110px;
  background-color: #fff;
  opacity: 0.1;
}
.empty.no {
  background-color: #fff;
  opacity: 1;
}
.empty:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  border: 5px dashed #333;
}