div, body, svg {
  padding: 0;
  margin: 0;
}
svg line {
  opacity: 1;
  transition: opacity .5s;
}
.block {
  background-color: #22dd44;
  position: absolute;
  z-index: 5;
  opacity: 0;
}
.block.on {
  opacity: 1;
  transition: opacity .3s;
}
#sidebar {
  width: 330px;
  height: 100vh;
  background-color: #222;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
#main {
  width: 100%;
  height: 100vh;
  background-color: #555;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 330px;
  box-sizing: border-box;
}
#contents {
  position: relative;
  top: 0;
  left: 200px;
  height: 100vh;
  display: block;
  background-color: #ddd;
  overflow: hidden;
}
#data {
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  padding: 30px;
  cursor: move;
}